@import './_variables'

.timer 
    &__title
        text-align: center
        font-weight: 600
        color: $gray-color
        text-transform: uppercase
    &__circle
        position: relative
        margin: 0 auto
        margin-top: 1.5rem
        border-radius: 100%
        width: 10rem
        height: 10rem
        circle
            fill: none
            stroke: url(#GradientColor)
            stroke-width: 1.2rem
            stroke-dasharray: 600
            stroke-dashoffset: 0
        svg
            position: absolute
            width: 10rem
            height: 10rem
            top: 0
            left: 0
        &_outer
            display: flex
            justify-content: center
            align-items: center
            width: 10rem
            height: 10rem
            border-radius: 50%
            box-shadow: 6px 6px 10px -1px rgba(0,0 ,0 ,0.15), -6px -6px 10px -1px rgba(255,255 ,255 ,0.7)
        &_inner
            display: flex
            justify-content: center
            align-items: center
            width: 8rem
            height: 8rem
            border-radius: 50%
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px rgba(255,255,255, 1), 0.5px 0.5px 0px rgba(0,0,0, 0.15), 0px 12px 10px -10px  rgba(0,0,0, 0.05)
            font-size: 1.3rem
        &_inner
            position: relative
            height: 10rem
            width: 10rem
            border-radius: 100%
            display: flex
            justify-content: center
            align-items: center      
    &__btns
        margin-top: 1.5rem
        display: flex
        justify-content: space-around
        align-items: center
    &__ranges
        margin-top: 1rem
        display: flex
        flex-direction: column
        justify-content: space-around
        .range__wrapper
            display: flex
        .range
            margin-left: 1rem

.timer_off 
    animation: animOff 2s

.timer_on
    animation: animOn 2s 



@keyframes animOn
    0%
        background-color: green
    100%
        background-color: transparent

@keyframes animOff
    0%
        background-color: red
    100%
        background-color: transparent
